body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.char-square {
    background: #fff;
    text-align: center;
}

.square {
    background: #fff;
    text-align: center;
    color: #fff;
}

.blue-square {
    background: rgb(38, 75, 238);
    text-align: center;
    color: #fff;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}